h1 {
    font-size: 4em;
}

h2 {
    font-size: 2.5em;
}

h3 {
    font-size: 2.2em;
}

h4 {
    color: red;
    font-size: 2em;
    margin-bottom: 0;
}

p {
    font-size: 1.5em;
}

img {
    width: 25%;
    height: 25%;
    display: block;
    margin-bottom: 1em;
}

#add-parrafos {
    margin-top: 1em;
}

table {
    margin-top: 2em;   
    margin-bottom: 1em;
}

table, th, td {
    border: 1px solid black;
}